<h1>Bookmarks Index</h1>

<div>
  <% @bookmarks.each do | bookmark | %>

      <ul>
        <li><%= bookmark.comment %></li>
        <%= bookmark.movie_id %>
            <%= link_to "details", bookmark %>
            <% button_to "Destroy comment?", @bookmark, method: :delete %>
      </ul>
  <% end %>
</div>

<%= link_to "ðŸ—’ï¸ List Index", lists_path %>
